//- footer.footer 
//-     | #{settingGeneral.copyright}
//-     //- | No copyright 2024 DNL 
footer
  .waves
    #wave1.wave
    #wave2.wave
    #wave3.wave
    #wave4.wave
  ul.social_icon
    li
      a(href='https://www.instagram.com/_hnhunneee_/')
        ion-icon(name='logo-facebook')
    li
      a(href='https://www.instagram.com/_hnhunneee_/')
        ion-icon(name='logo-twitter')
    li
      a(href='https://www.instagram.com/_hnhunneee_/')
        ion-icon(name='logo-instagram')
    li
      a(href='https://www.instagram.com/_hnhunneee_/')
        ion-icon(name='logo-linkedin')
  ul.menu
    li
      a(href='/') Home
    li
      a(href='#') About
    li
      a(href='#') Services
    li
      a(href='#') Team
    li
      a(href='#') Contact
  p #{settingGeneral.copyright}

  script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
  script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")  