extends ../../layouts/auth.pug 
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .login_container
        h2.text-center LOGIN
        form(
        action=`${prefixAdmin}/auth/login`
        method="POST"
    )
            input#email.form-control(type='email', name='email', required='required', placeholder='Username')
            input#password.form-control(type='password', name='password', required='required', placeholder='Password')
            button.btn.btn-primary.btn-block(type='submit') Login
    //- h1(class="text-center") Đăng nhập 
    //- form(
    //-     action=`${prefixAdmin}/auth/login`
    //-     method="POST"
    //- )
    //-     div(class="form-group")
    //-         label(for="email") Email
    //-         input(
    //-             type="email"
    //-             class="form-control"
    //-             id="email"
    //-             name="email"
    //-             required
    //-         )
    //-     div(class="form-group")
    //-         label(for="password") Mật khẩu
    //-         input(
    //-             type="password"
    //-             class="form-control"
    //-             id="password"
    //-             name="password"
    //-             required
    //-         )
    //-     div(class="form-group")
    //-         button(
    //-             type="submit"
    //-             class="btn btn-primary btn-block"
    //-         )  Đăng nhập
                        
    