.header {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
}

.header .inner-menu>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu>ul>li {
    margin-left: 20px;
}

.box-head {

    margin-bottom: 30px;
}

.box-head .inner-title {

    margin-bottom: 0;

    font-size: 28px;

    font-weight: 600;

    color: green;

}

.product-item {

    border: 1px solid #ddd;

    border-radius: 8px;
    overflow: hidden;
    height: 100%;

}

.product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.product-item .inner-featured {
    position: absolute;
    top: 0;
    right: 0;
    background: green;
    color: white;
    padding: 3px 6px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px
}

.product-item .inner-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

}


.product-item .inner-content {
    padding: 15px;
}

.product-item .inner-content .inner-title {

    font-size: 20px;

    font-weight: 600
}

.product-item .inner-content .inner-price-new {

    font-size: 18px;

    font-weight: 600;

    color: green;

}

.product-item .inner-content .inner-price-old {

    font-size: 18px;

    font-weight: 600;

    color: red;

    text-decoration: line-through;

}

.product-item .inner-content .inner-discount {

    font-size: 14px;

    font-weight: 600;

    color: white;

    background: red;

    display: inline-block;

    padding: 3px 10px;

    border-radius: 8px;

}

/* sub-menu */

.sub-menu {
    position: relative;
    z-index: 999;
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #ECE8EC;
    min-width: 180px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd
}

.sub-menu:hover>ul {
    display: block;
}

.sub-menu ul li {
    position: relative
}

.sub-menu ul li ul {
    right: 100%;
    top: 0;
}

.sub-menu ul li:hover>ul {
    display: block;
}

/* End sub-menu  */


/* product-detail */

.product-detail .inner-thumb img {
    width: 100%;
    height: auto;
}

.product-detail .inner-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.product-detail .inner-category {
    margin-bottom: 10px;
}

.product-detail .inner-price-new {
    color: green;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}


/* // alert */

[show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* footer */
footer {
    position: relative;
    width: 100%;
    background: #333;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

footer .waves {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: url('img/wave.png') repeat-x;
    background-size: 1000px 100px;
}

footer .wave {
    position: absolute;
    width: 200%;
    height: 100px;
    background-size: cover;
    opacity: 0.7;
}

footer .wave#wave1 {
    bottom: 0;
    animation: animateWave 4s linear infinite;
    z-index: 1000;
}

footer .wave#wave2 {
    bottom: 10px;
    animation: animateWave 4s linear infinite reverse;
    z-index: 999;
    opacity: 0.5;
}

footer .wave#wave3 {
    bottom: 20px;
    animation: animateWave 3s linear infinite;
    z-index: 998;
    opacity: 0.7;
}

footer .wave#wave4 {
    bottom: 30px;
    animation: animateWave 3s linear infinite reverse;
    z-index: 997;
    opacity: 0.5;
}

@keyframes animateWave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

footer .social_icon,
footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 24px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 16px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* end footer */

/* chat */

.chat .inner-body {
    padding: 10px;
    max-height: 450px;
    overflow-y: auto;
}

.chat .inner-body .inner-name {
    font-weight: 600;
}

.chat .inner-body .inner-content {
    background: white;
    margin-bottom: 10px;
    max-width: 220px;
    padding: 5px 10px;
    border-radius: 15px;
    line-height: 1.4;
}

.chat .inner-outgoing .inner-content {
    margin-left: auto;
    background: #FE5DA3;
    color: #fff;
}

.chat .inner-incoming .inner-content {
    margin-right: auto;
    background: #21e071;
    color: #fff;
}

.chat .inner-foot {
    border-top: 1px solid #ddd;
    padding: 10px;
}

.chat .inner-foot .inner-form {
    display: flex;
    align-items: center;
}

.chat .inner-form input {
    flex: 1;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
}

.chat .inner-form button {
    border-radius: 15px;
    border: 1px solid #FE5DA3;
    background: #FE5DA3;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
}

/* end chat */

/* emoji icon */
.tooltip {
    visibility: hidden;
}

.tooltip.shown {
    visibility: visible;
    opacity: 1;
}

/* end emoji */

/* box-Typing */
.box-typing {
    position: relative;
}

.box-typing .inner-dots {
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
    border-radius: 45px;
    margin-top: 2px;
}

.box-typing .inner-dots span {
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    background: #252525;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

/* End box typing */